# Lists

In [1]:
l = [1,2,3]

In [2]:
type(l)

list

In [3]:
len(l)

3

In [ ]:
t = [4,5,6]

In [6]:
a = l + t

NameError: name 't' is not defined

In [7]:
[l]*3

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [8]:
4 in l

False

In [9]:
for x in l :
    print(x)

1
2
3

In [ ]:
basket = ["apple " , "orange " ,"bananas"]

In [11]:
basket = ["apple " , "orange " ,"bananas"]
for fruit in basket :
    print(fruit)

apple
orange
bananas

# indexing and slicing

In [13]:
basket[1:-1]

['orange ']

In [15]:
k = [1,2,3,4,5]

In [16]:
k[:-1]

[1, 2, 3, 4]

In [18]:
k.append(4)
print(k)

[1, 2, 3, 4, 5, 4, 4]

In [19]:
k.insert(2,5)
print(k)

[1, 2, 5, 3, 4, 5, 4, 4]

# deleting list elements 
 - del 
 - pop
 - remove

In [22]:
l=[1,2,4]
print(l)

[1, 2, 4]

In [23]:
del l

In [25]:
k = [3,4,5,6,7,8]
k.pop(0)

3

In [27]:
l = [1,2,4,5,6]
print(l)

[1, 2, 4, 5, 6]

In [29]:
l.remove(1)

In [30]:
print(l)

[2, 4, 5, 6]

In [34]:
l = [1,2,4,5,6]

while 1 in l[4:]:
    
    l[4:].remove(1)
    
print (l)

[1, 2, 4, 5, 6]

# sorting and reversing

In [35]:
l =[2,3,4,1]
sorted(l)

[1, 2, 3, 4]

In [36]:
l

[2, 3, 4, 1]

In [37]:
l.sort()

In [38]:
l

[1, 2, 3, 4]

In [39]:
list(reversed(l))

[4, 3, 2, 1]

# map , strip , split method.

In [43]:
a = "1a2a3a4a5a6a7a"
l = a.split('a')

In [44]:
a = "1a2a3a4a5a6a7a"
l = a.split('a')
print(l)

['1', '2', '3', '4', '5', '6', '7', '']

In [45]:
convert_to_int = lambda x:int(x)
map(int ,l)

In [47]:
a = list(map(int,input().split()))
print(a)

12345
[12345]

In [49]:
a = "1a2a3a"

In [50]:
a.split('a')

['1', '2', '3', '']

In [51]:
print(a)

1a2a3a

In [ ]:
## leave this for now ....

In [53]:
t = int(input())


for _ in range(t):
    _ = int(input())
    l = list(map(int,input().split()))
    print(sum(l))

1
2
12
12

In [54]:
for x in range(10):
    print(x)
    x=0

0
1
2
3
4
5
6
7
8
9

In [ ]:
# printing a list using join

In [55]:
l =[1,2,3]

In [62]:
",".join(list(map(str ,l)))

'1,2,3'

In [65]:
items = [1, 2, 3, 4, 5]

squared = []

for i in items:
    squared.append(i**2)
    print(squared)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [67]:
items = [1, 2, 3, 4, 5]

squared = list(map(lambda x: x**2, items))

print(squared)

[1, 4, 9, 16, 25]

In [59]:
l =[1,2,3]

In [61]:
print("\t".join(list(map(str,l))))

1	2	3

# task :

create a input list , find second max. number in the list

# hell yeah we can put a list into a list

In [69]:
a = [[1,2],[3,4]]

In [70]:
b = [[5,6],[7,8]]

In [71]:
sum(a,b)

[[5, 6], [7, 8], 1, 2, 3, 4]

NameError: name 'b' is not defined

# Lambda

lambda

lambda operator or lambda function is used for creating small, one-time and anonymous function objects in Python.

lambda operator can have any number of arguments, but it can have only one expression. It cannot contain any statements and it returns a function object which can be assigned to any variable.

In [76]:
def multiply2(x):
  return x * 2
    
map(multiply2, [1, 2, 3, 4])

In [75]:
map(lambda x : x*2, [1, 2, 3, 4])

In [77]:
d ={"a":1,"b":2,"c":3}
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [78]:
print(type(d))

<class 'dict'>

In [80]:
d['c']

3

# some imp. dict methods 
- get()
- items()
- keys()
- values()
- clear()

In [84]:
d.get('a')

1

In [83]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [85]:
d = ([('a', 1), ('b', 2), ('c', 3)])

In [94]:
def get_value(d,ele):
    for key,value in d :
        if key == ele: 
            return value 
        
    return None

In [95]:
get_value(d,'b')

2

In [96]:
d = {(1,2):"a" , (1,2):"b"}
d[(1,2)]
print(d)

{(1, 2): 'b'}

# task : 
write a prog. which inputs and stores data about college students as a list of dict.

In [ ]:
[{
    'rollno ':1234
    'name' : 'raunaq'
    'branch' : 'CS'
    
} , 
{
     'rollno ':3456
    'name' : 'raunaq'
    'branch' : 'CS'   
}
]